.register{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background: rgb(242, 242, 253);
}
.quti{
    margin: 0px auto;
    width: 30%;
    min-height: 50vh;
    background: white;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}
.quti3{
    margin: 0px auto;
    width: 40%;
    min-height: 40vh;
    background: white;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}
.inp{
    height: 43px;
    margin-top: 20px;
    border-radius: 3px;
}
.btn{
    width: 100%;
    height: 40px;
    margin-top: 25px;
}
.label{
    text-align: start;
    display: flex;
}
.form{
    margin-top: 35px;
}
.a{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.i{
    font-size: 30px;
}
.text{
    text-decoration: none;
    color: red;
}
.text1{
    text-align: left;
}
.separator{
    color: rgba(0, 0, 0, 0.555);
}