/* .App {
  position: relative;
} */
body {
  background: rgb(245, 247, 251);
}

.navbar_div {
  width: 100%;
  height: 160px;
  border-bottom: 0.2px solid rgb(233, 232, 232);
  box-shadow: inset;
  background: white;
  /* position: fixed; */
}
.navbar_top_div {
  width: 100%;
  height: 40px;
  border-bottom: 0.2px solid rgb(233, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_top_div .navbar_center_div_ {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.navbar_center_div_ .language_div {
  width: 60%;
  height: 100%;
}

.navbar_center_div_ .navbar_center_page {
  width: 40%;
  height: 100%;
}

.navbar_bottom_div {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language_div {
  display: flex;
  align-items: center;
}

#select_laungare{
  border: none;
  width: 100px;
  height: 100%;
  font-size: 15px;
  padding: 0;
  box-shadow: none;
}

.navbar_center_page ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar_center_page ul li {
  border-right: 0.5px solid rgb(205, 203, 203);
  /* padding-right: 16px; */
  padding: 5px 10px;
}

.navbar_navlink {
  text-decoration: none;
  font-size: 14px;
  color: rgb(131, 129, 129);
}

.navbar_navlink:hover {
  color: rgb(59, 59, 59);
}

.logo_div .navbar_logo {
  width: 160px;
}

.navbar_center_div {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 0.2px solid rgb(233, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_center_div2 {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_search_input {
  width: 600px;
  padding: 7px;
  border: 0.5px solid rgb(205, 203, 203);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_button {
  width: 50px;
  height: 39px;
  background: red;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white
}

#compare_icons {
  font-size: 30px;
  position: relative;
  color: rgb(131, 129, 129);
}

.serach_corzinca_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.corzinka_div {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carts_text {
  margin-left: 7px;
  font-size: 14px;
  padding-top: 5px;
  color: rgb(131, 129, 129);
}

._cursor_pointer {
  cursor: pointer;
}

.bottom_page {
  height: 100%;
}

.bottom_page ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}

.bottom_navlink {
  text-decoration: none;
  font-size: 16px;
  color: rgb(131, 129, 129);
}

.bottom_navlink:hover {
  color: black;
  transition: all 0.5s;
}




/* Home */
.body_div {
  width: 100%;
  min-height: 100vh;
  background: rgb(245, 247, 251);
}

.body_div2 {
  width: 90%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.categpry_div {
  width: 320px;
  min-height: 600px;
  background: rgb(245, 247, 251);
  border-radius: 7px;
}

.carusel_div {
  width: 780px;
  height: 600px;
  background: rgb(245, 247, 251);
  border-radius: 7px;

}

.center_div_body {
  display: flex;
  justify-content: center
}

.reklama_div {
  width: 220px;
  height: 450px;
  background: #BDBDBD;
  border-radius: 7px;
}

.reklama_div_title {
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.reklama_div_title h6 {
  background: red;
  color: white;
  font-size: 10px;
  padding: 4px;
  border-radius: 5px;
}

.card_div {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  margin: 10px auto;
  border-radius: 7px;
}

.card_div img {
  width: 90px;
  height: 80px;
}

.card_div p {
  color: red;
  font-size: 15px;
}

.category_card_body {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.categpry_div h5 {
  font-size: 17px;
}

.category_card {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.category_card:hover {
  box-shadow: 2px 2px 3px #888888;
  transition: all 0.7s;
  color: rgb(100, 100, 100);

}

.category_card img {
  width: 30px;
}

.category_card p {
  margin-top: 10px;
}

#carusel_img {
  height: 400px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.carusel_card_body {
  width: 100%;
  height: 120px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carusel_card {
  width: 130px;
  height: 100%;
  background: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carusel_card div {
  text-align: center;
}

.carusel_card img {
  width: 115px;
  height: 80px;
  text-align: center;
  border-radius: 20px;
}

.carusel_card b {
  color: rgb(142, 139, 139);
  font-size: 12px;
  text-align: center;
}

.category_img_body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.category_img {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_img img {
  width: 440px;
  border-radius: 25px;
  cursor: pointer;
}



.footer_header_div {
  width: 100%;
  height: 380px;
  background: #111723;
  display: flex;
  justify-content: center;
}

.footer_bosy_div {
  width: 90%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer_logo {
  width: 170px;
}

.email_input_div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.email_input_div input {
  width: 220px;
  height: 40px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: none;
}

.email_input_div div {
  width: 120px;
  height: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

.email_input_div h4 {
  font-size: 14px;
  color: white;
  padding-top: 7px;
  cursor: pointer;
}

.url_footer {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.my_profile ul {
  list-style: none;
  text-align: left;
}

.footer_navlink {
  color: rgb(129, 127, 127);
  text-decoration: none;
}

.footer_navlink:hover {
  color: white;
}

.contact_div b {
  font-size: 13px;
  color: rgb(129, 127, 127);
}

.contact_div p {
  color: white;
}

.my_profile h6 {
  margin-left: 30px;
  color: white;
  margin-bottom: 20px;
}

.contact_div h6 {
  color: white;
  margin-bottom: 20px;
}

.product_cart img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product_cart {
  width: 200px;
  display: grid;
  height: 350px;
  border-radius: 15px;
  border: 1px solid rgb(216, 214, 214);
  padding: 10px;
  background: white;
}

.product_cart p {
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.club_poit {
  background: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  padding: 5px;
  border-radius: 5px;
}

.proucts_body_div {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.product_cart h6 {
  font-size: 13px;
  padding-top: 4px;
}

.new_products {
  width: 90%;
  height: 450px;
  background: white;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 7px;
  padding: 20px 30px;
}

.new_products_title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(224, 221, 221);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.auction_div {
  width: 90%;
  height: 380px;
  margin: 0 auto;
  margin-top: 25px;
}

.auction_div .auction_title {
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auction_title_div {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 221, 221);
  padding: 10px 0px;
}

.auction_img {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auction_img img {
  width: 445px;
  border-radius: 20px;
  cursor: pointer;
}

.best_sellers {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  border-bottom: 1px solid rgb(224, 221, 221);
  margin-bottom: 20px;
}

.best_sellers_title_div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 221, 221);
}

.best_sellers_card_div {
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
}

.best_sellers_card {
  width: 400px;
  height: 130px;
  margin: 0 auto;
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
}

.best_sellers_card:hover {
  box-shadow: 2px 2px 3px #888888;
  transition: all 0.7s;
}

.best_sellers_img {
  width: 150px;
  height: 100%;
  border-right: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
}

.best_sellers img {
  width: 60%;
}

.best_sellers_button {
  width: 250px;
  padding: 20px;
}

.best_sellers_button button {
  color: rgb(252, 44, 44);
  background: rgb(254, 204, 204);
  border: none;
  padding: 5px 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best_sellers_button h5 {
  font-size: 17px;
  color: rgb(53, 53, 53);
}

.best_sellers_button i {
  padding-top: 3.5px;
}

.best_sellers_button button:hover {
  background: red;
  color: white;
  transition: all 0.5s;
}

.policy_div {
  width: 100%;
  height: 120px;
  background: white;
  border: 1px solid rgb(236, 236, 236);
}

.policy_div2 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid rgb(236, 236, 236);
  border-right: 1px solid rgb(236, 236, 236);
  display: flex;
}

.policy_div2_card {
  width: 25%;
  height: 100%;
  border-left: 1px solid rgb(236, 236, 236);
  border-right: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

/* .policy_div2_card {
  text-align: center;
} */

.policy_div2_card i {
  font-size: 35px;
  color: red;
}

.like_ikons_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

.like_ikons_div i {
  font-size: 15px;
}

.like_ikons_div div {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(236, 236, 236);
  cursor: pointer;
  color: rgb(122, 120, 120);

}

.like_ikons_div div:hover {
  background: red;
  border: 1px solid red;
  color: white;
  transition: all 0.5s;
}

.product_header_div {
  width: 100%;
  min-height: 100vh;
  background: rgb(245, 247, 251);
}

.product_body_div {
  width: 90%;
  height: 550px;
  margin: 0 auto;
  background: white;
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img_div {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img_div img {
  width: 100%;
}

.product_comment_div {
  width: 60%;
  height: 100%;
  max-height: 100%;
  padding: 20px;
}

.product_card {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}

.product_card h5 {
  color: rgb(50, 49, 49);
}

.product_card h6 {
  color: rgb(82, 82, 82);
  font-size: 15px;
}

.product_card p {
  color: rgb(124, 122, 122);
  font-size: 14px;
  margin-top: 10px;
}

.product_card h4 {
  color: red;
  margin-left: 30px;
  font-size: 27px;
}

.number_div {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.number_div button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgb(223, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.product_button {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
}

.product_button button {
  color: rgb(252, 44, 44);
  background: rgb(254, 204, 204);
  border: none;
  padding: 8px 15px;
  width: 180px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_button button:hover {
  background: red;
  color: white;
  transition: all 0.5s;
}

.product_comment_header {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 7px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.product_comment_div1_ {
  width: 320px;
  height: 250px;
  background: white;
  border-radius: 7px;
}
.product_comment_div3 p {
  font-size: 13px;
  color: #888888;
}
.product_comment_div3 {
  padding: 20px;
}
.product_comment_div3 div {
  width: 100%;
  height: 50px;
  border: 0.5px solid rgb(213, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
}

.TopSellingProducts {
  width: 320px;
  height: 700px;
  background: white;
  margin-top: 20px;
  border-radius: 7px;
}

.product_description {
  width: 1025px;
  height: 430px;
  background: white;
  border-radius: 7px;
}

.Relatedproducts {
  width: 1025px;
}

.new_products2 {
  width: 1025px;
}

.product_description_title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.product_description_text {
  padding: 20px;
}

.product_description_text p {
  font-size: 17px;
  color: #6e6d6d;
}

.product_navlink {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.product_navlink:hover {
  color: black;
}
.product_button1_ {
  width: 100%;
  height: 64px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.product_button2_ {
  width: 50%;
  text-align: center;
  height: 100%;
  background: rgb(252, 188, 188);
  color: red;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}
.product_button2_:hover {
  background: red;
  color: white;
  transition: all 0.5s;
}
.TopSellingProducts_title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopSellingProducts_title h5 {
  font-size: 17px;
}
.TopSellingProducts_div {
  width: 100%;
  height: 100%;
}
.TopSellingProducts_card {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopSellingProducts_card img {
  width: 120px;
  height: 100px;
  cursor: pointer;
}
.TopSellingProducts_card p {
  font-size: 14px;
  color:#6e6d6d;
}
.TopSellingProducts h4 {
  color: red;
  font-size: 16px;
}